<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{title}}</title>

	<link rel="stylesheet" href="/voler/dist/assets/css/bootstrap.css">

	<link rel="stylesheet" href="/voler/dist/assets/vendors/chartjs/Chart.min.css">

	<link rel="stylesheet" href="/voler/dist/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
	<link rel="stylesheet" href="/voler/dist/assets/css/app.css">
	<link rel="shortcut icon" href="/voler/dist/assets/images/favicon.svg" type="image/x-icon">
</head>
<body>

	{{{body}}}

	<script src="/voler/dist/assets/js/feather-icons/feather.min.js"></script>
	<script src="/voler/dist/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
	<script src="/voler/dist/assets/js/app.js"></script>

	<script src="/voler/dist/assets/vendors/chartjs/Chart.min.js"></script>
	<script src="/voler/dist/assets/vendors/apexcharts/apexcharts.min.js"></script>
	<script src="/voler/dist/assets/js/pages/dashboard.js"></script>

	<script src="/voler/dist/assets/js/main.js"></script>
</body>
</html>
