<div id="sidebar" class='active'>
	<div class="sidebar-wrapper active">
		<div class="sidebar-header">
			<img src="/voler/dist/assets/images/logo.svg" alt="" srcset="">
		</div>
		<div class="sidebar-menu">
			<ul class="menu">


				<li class='sidebar-title'>Main Menu</li>



				<li class="sidebar-item active ">
					<a href="index.html" class='sidebar-link'>
						<i data-feather="home" width="20"></i> 
						<span>Dashboard</span>
					</a>

				</li>

			</ul>

		</div>
		<button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
	</div>
</div>